
.maket{
    
    max-width: 490px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    margin: auto;
    background-color: white;
    max-height: 800px;
    display: grid;
    text-align: -webkit-center;
}
