
.arrContainerOneTypeMaket{
    
    display: flex;
    justify-content: center;
    margin-top: -45px;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    height: 150px;
    margin-bottom: 30px;
}





